body {
  font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  color: #333;
  background-color: #efefe3;
}

section {
  width: 35em;
  margin: auto;
  padding: 0 1em;
}

footer {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 1.9em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.2em;
}

nav {
  margin-bottom: 4em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1em;
}

a {
  color: inherit;
}
