body {
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #efefe3;
}

section {
  width: 35em;
  margin: auto;
  padding: 0 1em;
}

footer {
  text-align: center;
  margin-top: 50px;
}

h1, h2, h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-left: -0.5em;
  padding-left: 1.6em;
  background-image: url("./logo.svg");
  background-size: 1.2em auto;
  background-repeat: no-repeat;
  background-position: 0 0.1em;
}

h2 {
  font-size: 1.9em;
  margin-top: 1.0em;
}

h3 {
  font-size: 1.2em;
}

nav {
  margin-bottom: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1em;
}

a {
  color: inherit;
}
