---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Elm-pair News",
    "subtitle": "News about Elm-pair, an editor integration for the Elm programming language.",
    "url": "https://elm-pair.jasperwoudenberg.com/",
    "feedUrl": "https://elm-pair.jasperwoudenberg.com/feed.xml",
    "author": {
      "name": "Jasper Woudenberg",
      "email": "elm-pair@jasperwoudenberg.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.news | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for news in collections.news %}
  {% set absolutePostUrl %}{{ news.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ news.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ news.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ news.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
