<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&#127824; Elm-pair</title>
    <link rel="stylesheet" href="/style.css" />
    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>

  <body>
    <section>
      <h1><a href="/">&#127824; Elm-pair</a></h1>
      <nav>
        <ul>
          <li><a href="https://github.com/jwoudenberg/elm-pair/blob/main/README.md#installation">Get it!</a></li>
          <li><a href="/#news">News</a></li>
          <li><a href="https://github.com/jwoudenberg/elm-pair/">Github</a></li>
        <ul>
      </nav>
    </section>

    <section>
      {% block content %} {% endblock %}
    </section>

    <footer>
      © 2022 Jasper Woudenberg - <a href="https://github.com/jwoudenberg/elm-pair">This Code</a> - <a href="https://dev.to/jwoudenberg">My Blog</a>
    </footer>
    <script data-goatcounter="https://elm-pair.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
