<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elm-pair</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="icon.png" type="image/png" />
    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
    {% endblock %}
  </head>

  <body>
    <section>
      <h1>Elm-pair</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/install">Install</a></li>
          <li><a href="/commercial-license">Buy</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="https://github.com/jwoudenberg/elm-pair/">Github</a></li>
        <ul>
      </nav>
    </section>

    <section>
      {% block content %} {% endblock %}
    </section>

    <footer>
      © 2022 Jasper Woudenberg - <a href="/privacy">Privacy Policy</a> - <a href="https://github.com/jwoudenberg/elm-pair">This Code</a>
    </footer>
  </body>
</html>
